In [ ]:
# Introduction to Data Science

In [ ]:
## Introduction

This notebook presents basic concepts of data science, including languages, libraries, tools, simple arithmetic operations, and learning objectives.

In [ ]:
## Languages Used in Data Science

- Python  
- R  
- SQL  
- Julia  
- Scala

In [ ]:
## Popular Data Science Libraries

- Pandas  
- NumPy  
- Matplotlib  
- Scikit-learn  
- TensorFlow  
- Seaborn

In [ ]:
## Data Science Tools

| Tool              | Category               |
|-------------------|------------------------|
| Jupyter Notebook  | Development            |
| RStudio           | Development            |
| Apache Spark      | Data Processing        |
| Tableau           | Data Visualization     |
| GitHub            | Version Control        |

In [ ]:
## Examples of Arithmetic Expressions

- Addition: `5 + 3 = 8`  
- Subtraction: `10 - 4 = 6`  
- Multiplication: `6 * 7 = 42`  
- Division: `20 / 4 = 5.0`  
- Power: `2 ** 3 = 8`

In [ ]:
# Multiplying and adding numbers
a = 5
b = 3
multiplication = a * b
addition = a + b

print("Multiplication:", multiplication)
print("Addition:", addition)

In [ ]:
# Converting minutes to hours
minutes = 150
hours = minutes / 60

print("Hours:", hours)

In [ ]:
## Objectives

- Understand the main components of data science  
- Learn common programming languages and libraries  
- Perform basic Python operations  
- Develop familiarity with interactive notebooks

In [ ]:
**Author:** Matheus Souza Santos